<style>
  header {
    height: 60px;
  }

  /* allows moxi bar to animate correctly & stops content from being
  overlapped in it's dropdown menu */
  #wms-chrome-header.navbar-fixed-top {
    position: fixed;
  }

  /* roster adds this to moxi bar dynamically when ayl opens  */
  @media (max-width: 600px) {
    .hide-moxi-bar-mobile {
      display: none !important;
    }
  }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css">

<%= stylesheet_pack_tag 'ads' %>

<div
  id="moxi-ads"
  data-listingid="9934635"
  data-product-info='{
    "AYL": {
      "products": {
        "right-column": "685d8c5e-b7e5-43a7-8bb0-f8fce1ce5f40",
        "news-feed": "8128cd90-96f0-4a5c-ab06-9c28ca7511a7"
      }
    },
    "AYS": {
      "products": {
        "right-column": "685d8c5e-b7e5-43a7-8bb0-f8fce1ce5f40",
        "news-feed": "8128cd90-96f0-4a5c-ab06-9c28ca7511a7"
      }
    }
  }'
>
</div>

<script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>

<%= javascript_pack_tag 'ads' %>

<script>
  const adData = {
    listingdata: { listingid: null },
    previousAdData: { uuid: null },
    productType: { name: null }
  }

  adData.productType.name = "listing"
  adData.listingdata.listingid = 16195190
  adData.previousAdData.uuid = "17c3e201-99f2-4355-aa70-80221dec0e15"

  document.dispatchEvent( new CustomEvent('moxi-ads:opened', { detail: adData }) )
</script>
