<section class="the-pad">
  <h1 class="center">Check All These Webpacker Examples Out, Bro'</h1>
  <ul class="collection">
    <li class="collection-item"><%= link_to 'Vue Example', vue_example_index_url %></li>
    <li class="collection-item"><%= link_to 'A Separate Instance of Vue.js', separate_vue_index_url %></li>
  </ul>
</section>
