<%= javascript_pack_tag 'separate_vue' %>
<%= stylesheet_pack_tag 'separate_vue' %>

<div id="separate-vue" class="the-pad">
  <h1 class="center">A Different Point of <em>Vue</em></h1>
  <app></app>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <%= link_to 'Back', root_url %>
    </div>
  </div>
</div>
