<%= javascript_pack_tag 'listing_management' %>
<%= stylesheet_pack_tag 'listing_management' %>

<section class="the-pad">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div id='listing-management'>
          <app></app>
        </div>
      </div>
    </div>
  </div>
</section>
